body {
    background-color: rgba(202, 17, 17, 0.952);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.btnplay{
    background-color: rgba(255, 0, 0, 0) ;
    border: none;
}

.play{
    width: 10vh;
    cursor: pointer;
}
.travail-pause {
    width: 100%;
    text-align: center;
    flex-direction: column; /* Ajoutez cette ligne pour afficher les éléments en colonne */
    align-items: center;
    justify-content: center;
}

.modif {
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    border-radius: 10%;
    width: 10%;
    height: 7vh;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: rgb(255, 255, 255);
}

.timer{
    font-size: 10vh;
    display: flex;
}